@model Tracker.Web.ViewModels.Partials.RecordDisplays.ExerciseRecordsDisplayViewModel

<h4>Exercise @if(Model.AllowEdit){<button onclick="openModal('NewExcerciseRecord', 'AddExcerciseActivity', 'Add Excercise Record')" class="btn btn-sm btn-outline-primary">+</button>}</h4>
<ul>
    @foreach (var ex in Model.ExerciseRecords)
    {
        <li><strong>@ex.Type</strong>: @ex.Activity @ex.StartTime.ToShortTimeString()–@ex.EndTime.ToShortTimeString() <em>@ex.Note</em></li>
    }
</ul>